* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
header {
  background-color: white;
  height: 90px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
nav img {
  position: relative;
  bottom: 30px;
  left: 30px;
}
nav ul {
  display: flex;
  gap: 80px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-family: "Hanken Grotesk", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
nav ul li a:hover {
  border: 3px solid orange;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.contact {
  padding: 10px;
  background-color: steelblue;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border-radius: 10px;
}

.about-items {
  display: flex;
  padding: 10%;
  background-color: whitesmoke;
}
.about-text h1 {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 30px;
  font-weight: 900;
}
.about-text p {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  margin-top: 10%;
  font-weight: 700;
  line-height: 25px;
  color: gray;
}
.about-text a {
  padding: 15px;
  background-color: steelblue;
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  padding-left: 85px;
  padding-right: 85px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 80px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
}
.about-items img {
  position: relative;
  left: 30px;
}
#footer-items {
  position: static;
  bottom: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  justify-content: space-around;
}
#footer-items p {
  position: relative;
  top: 80%;
  font-family: "Hanken Grotesk", sans-serif;
}
#footer-items img {
  position: relative;
  top: 50%;
}
.logo-footer {
  position: relative;
  bottom: 30px;
}
.links {
  position: relative;
  top: 18px;
  display: flex;
  gap: 20px;
}
